{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Weights</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <ul>
            <li><a href= "{% url 'home' %}">Home</a></li>
            <li><a href= "{% url 'create' %}">Add Weight</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        <h1>placeholder</h1>
        {% endblock content %}
    </main>
    <footer>
        <p>Weight Tracker © 2021 Copyright - Chuck Li Villalobos</p>
    </footer>
</body>
</html>