{% extends 'base.html' %}

{% block title %}
    <title>Weight Details Page</title>
{% endblock title %}


{% block content %}
    

    <h2>Weight Details</h2>
    
    <ul>
        <li>Weight<br>
            <span>{{ weight.weight }}</span>
        </li>
        <li>User<br>
            <span>{{ weight.user }}</span>
        </li>

        <li>Description<br>
            <span>{{ weight.info }}</span>
        </li>
    </ul>

    <p><a href="{% url 'update' weight.id %}">Update this record</a></p>
    <p><a href="{% url 'delete' weight.id %}">Delete this record</a></p>
    
{% endblock content %}